<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Матрица компетенций</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block css_add %} {% endblock %}
    {% block js_add %} {% endblock %}
</head>
<body>
    <div class="row_divs">
        <div class="col_div">
            <div class="row_divs">

                <!--Компетенции-->

                <div class="high_div">
                    <p class="lead1">Компетенции</p>
                    <form action="{% url 'modelInfo' %}" method="post">
                        {% csrf_token %}
                        <section class="sec_row">
                            <select onchange="this.form.submit()" name="modelName" class="form-select" size="3" aria-label="size 3 select example">
                                {% block competenceList %} {% endblock %}
                            </select>
                            <div class="form-floating">
                                <textarea readonly class="form-control"  id="floatingTextarea1" style="padding: 5px; height: 300px; border: 1px solid rgb(92, 139, 215); resize: none; ">{% block competenceInfo %}{% endblock %}</textarea>
                            </div>
                        </section>
                        <section class="sec_row2">
                            <button onclick="AddModalWindow('Competence')" type="button" class="btn2 btn2-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalPush">Доб.</button>
                            <button onclick="ChangeModalWindow('Competence')" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalChange">Ред.</button>
                        </form>
                            <form action="{% url 'modelDelete' %}" method="post">
                                {% csrf_token %}
                                <button onclick="AddModalWindow('Competence')" type="submit" class="btn2 btn2-outline-primary">Удал.</button>
                            </form>
                        </section>
                </div>

                <!--Индикаторы-->

                <div class="high_div2">
                    <p class="lead2">Индикаторы</p>
                    <form action="{% url 'modelInfo' %}" method="post">
                        {% csrf_token %}
                        <section class="sec_row">
                            <select onchange="this.form.submit()" name="modelName" class="form-select" size="3" aria-label="size 3 select example">
                                {% block indicatorList %} {% endblock %}
                            </select>
                            <div class="form-floating">
                                <textarea readonly class="form-control" id="floatingTextarea2" style="padding: 5px; height: 300px; border: 1px solid rgb(92, 139, 215); resize: none; ">{% block indicatorInfo %}{% endblock %}</textarea>
                            </div>
                        </section>
                        <section class="sec_row3">
                            <button onclick="AddModalWindow('Indicator')" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalPush">Доб.</button>
                            <button onclick="ChangeModalWindow('Indicator')" type="button" class="btn2 btn2-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalChange">Ред.</button>
                        </form>
                        <form action="{% url 'modelDelete' %}" method="post">
                            {% csrf_token %}
                            <button onclick="AddModalWindow('Indicator')" type="submit" class="btn btn-outline-primary">Удал.</button>
                        </form>
                    </section>
                </div>
            </div>
            <img src="/static/main/img/line2.png">
        </div>
        <div class="high_div3">

            <!--Знания-->

            <p class="lead2">Знания</p>
            <form action="{% url 'modelInfo' %}" method="post">
                {% csrf_token %}
                <section class="sec_row4">
                    <select onchange="this.form.submit()" class="form-select f-s-n" size="3" aria-label="size 3 select example">    
                        {% block knowledgeList %} {% endblock %}
                    </select>
                    <div class="form-floating f-f-n">
                        <textarea readonly class="form-control" id="floatingTextarea3" style="padding: 5px; height: 100px; border: 1px solid rgb(92, 139, 215); resize: none; ">{% block knowledgeInfo %}{% endblock %}</textarea>
                    </div>
                </section>
                <section class="sec_row3">
                    <button onclick="AddModalWindow('Knowledge')" type="button" class="btn2 btn3 btn2-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalPush">Доб.</button>
                    <button onclick="ChangeModalWindow('Knowledge')" type="button" class="btn btn3 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalChange">Ред.</button>
                    </form> 
                    <form action="{% url 'modelDelete' %}" method="post">
                        {% csrf_token %}    
                        <button onclick="AddModalWindow('Knowledge')" type="submit" class="btn2 btn3 btn2-outline-primary">Удал.</button>
                    </form>
                </section>

            <!--Умения-->

            <p class="lead3">Умения</p>
            <form action="{% url 'modelInfo' %}" method="post">
                {% csrf_token %}
                <section class="sec_row4">
                    <select onchange="this.form.submit()" class="form-select f-s-n" size="3" aria-label="size 3 select example">
                        {% block skillsList %} {% endblock %}
                    </select>
                    <div class="form-floating f-f-n">
                        <textarea readonly class="form-control" id="floatingTextarea4" style="padding: 5px; height: 100px; border: 1px solid rgb(92, 139, 215); resize: none; ">{% block skillInfo %}{% endblock %}</textarea>
                    </div>
                </section>
                <section class="sec_row3">
                    <button onclick="AddModalWindow('Skill')" type="button" class="btn btn3 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalPush">Доб.</button>
                    <button onclick="ChangeModalWindow('Skill')" type="button" class="btn2 btn3 btn2-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalChange">Ред.</button>
                    </form>
                    <form action="{% url 'modelDelete' %}" method="post">
                        {% csrf_token %}
                        <button onclick="AddModalWindow('Skill')" type="submit" class="btn btn3 btn-outline-primary">Удал.</button>
                    </form>
                </section>

            <!--Владения-->

            <p class="lead3">Владения</p>
            <form action="{% url 'modelInfo' %}" method="post">
                {% csrf_token %}
                <section class="sec_row4">
                    <select onchange="this.form.submit()" class="form-select f-s-n" size="3" aria-label="size 3 select example">
                        {% block possessionList %} {% endblock %}
                    </select>
                    <div class="form-floating f-f-n">
                        <textarea class="form-control" readonly  id="floatingTextarea5" style="padding: 5px; height: 100px; border: 1px solid rgb(92, 139, 215); resize: none; ">{% block possessionInfo %}{% endblock %}</textarea>
                    </div>
                </section>
                <section class="sec_row3">
                    <button onclick="AddModalWindow('Possession')" type="button" class="btn2 btn3 btn2-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalPush">Доб.</button>
                    <button onclick="ChangeModalWindow('Possession')" type="button" class="btn btn3 btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalChange">Ред.</button>
                    </form>
                    <form action="{% url 'modelDelete' %}" method="post">
                        {% csrf_token %}
                        <button onclick="AddModalWindow('Possession')" type="submit" class="btn2 btn3 btn2-outline-primary">Удал.</button>
                    </form>
                </section>
        </div>
    </div>

    <!--Дерево компетенций-->

    <div class="high_div4">
        <p class="lead3" align="center">Дерево компетенций</p>
        <div class="tree" onclick="tree_toggle(arguments[0])">
            {% block tree %} {% endblock %}
        </div>
    </div>

<footer class="footer">
    <div align="center" class="container-sm text-bg-light p-3">
        <p>© Кузьмин Дмитрий, Кирилл Хрявин, 2022г</p>
        <p>Code: github.com/TovDmitrij/Competence-matrix</p>
    </div>
</footer>

<!--ModalForPush-->

<form action="{% url 'modelAdd' %}" method="post">
    {% csrf_token %}
    <div class="modal fade" id="ModalPush" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="row_divs" style="margin-bottom:20px;">
                            <label for="cod-text" class="col-form-label">Код:</label>
                            <textarea id="modelName_Add" class="form-control" placeholder="Leave a comment here" style="height: 30px; margin-left: 5px; border: 1px solid rgb(92, 139, 215); resize: none; "></textarea>
                        </div>
                        <textarea id="modelDescription_Add" class="form-control" name="textOfPush" id="descrip-text" placeholder="Описание"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                    <button onclick="SaveModelInfo()" type="submit" name="add_saveButton" class="btn btn-primary" style="width:100px;">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--ModalForChange-->

<form action="{% url 'modelChange' %}" method="post">
    {% csrf_token %}
    <div class="modal fade" id="ModalChange" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Редактировать</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="row_divs" style="margin-bottom:20px;">
                            <label for="cod-text-change" class="col-form-label">Код:</label>
                            <textarea readonly id="modelName_Change" class="form-control" placeholder="Leave a comment here" style="height: 30px; margin-left: 5px; border: 1px solid rgb(92, 139, 215); resize: none; "></textarea>
                        </div>
                        <textarea id="modelDescription_Change" class="form-control" name="textOfChange" id="descrip-text-change" placeholder="Описание"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                    <button onclick="SaveModelInfo()" type="submit" name="change_saveButton" class="btn btn-primary" style="width:100px;">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>