{% extends 'main/base.html' %}

{% load static %}

{% block css_add %} 
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block js_add %}
    <script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}


{% block tree %}
    <ul class = "Container">
        {% if modelList %}
            {% for currentCompetence in modelList%}
                <li class = "Node ExpandClosed">
                    <div class = "Expand"></div>
                    <div class = "Content">{{ currentCompetence.name }}</div>
                    {% if currentCompetence.children %}
                    <ul class = "Container">
                        {% for currentIndicator in currentCompetence.children %}
                        <li class = "Node ExpandClosed">
                            <div class = "Expand"></div> 
                            <div class = "Content">{{currentIndicator.name}}</div>
                            {% if currentIndicator.children %}
                            <ul class = "Container">
                                <li class = "Node ExpandClosed">
                                    <div class = "Expand"></div>
                                    <div class = "Content">Знания</div>
                                    <ul class = "Container">
                                        {% for currentKSP in currentIndicator.children %}
                                            {% if currentKSP.isKnowledge %}
                                                <li class = "Node ExpandLeaf IsLast">
                                                    <div class = "Expand"></div> 
                                                    <div class = "Content">{{currentKSP.name}}</div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class = "Node ExpandClosed">
                                    <div class = "Expand"></div>
                                    <div class = "Content">Умения</div>
                                    <ul class = "Container">
                                        {% for currentKSP in currentIndicator.children %}
                                            {% if currentKSP.isSkills %}
                                                <li class = "Node ExpandLeaf IsLast">
                                                    <div class = "Expand"></div> 
                                                    <div class = "Content">{{currentKSP.name}}</div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class = "Node ExpandClosed">
                                    <div class = "Expand"></div>
                                    <div class = "Content">Владения</div>
                                    <ul class = "Container">
                                        {% for currentKSP in currentIndicator.children %}
                                            {% if currentKSP.isPossession %}
                                                <li class = "Node ExpandLeaf IsLast">
                                                    <div class = "Expand"></div> 
                                                    <div class = "Content">{{currentKSP.name}}</div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <p>Нет записей!</p>
        {% endif %}
    </ul>
{% endblock %}