{% extends 'main/base.html' %}

{% load static %}

{% block css_add %} 
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block js_add %}
    <script src="{% static 'main/js/index.js' %}"></script>
{% endblock %}


{% block tree %} {{ tree | safe }} {% endblock %}

{% block competenceList %} {{ competenceList | safe }} {% endblock %}
{% block competenceInfo %} {{ competenceInfo | safe }} {% endblock %}


{% block indicatorList %} {{ indicatorList | safe }} {% endblock %}
{% block indicatorInfo %} {{ indicatorInfo | safe }} {% endblock %}


{% block knowledgeList %} {{ knowledgeList | safe }} {% endblock %}
{% block knowledgeInfo %} {{ knowledgeInfo | safe }} {% endblock %}


{% block skillsList %} {{ skillsList | safe }} {% endblock %}
{% block skillsInfo %} {{ skillsInfo | safe }} {% endblock %}


{% block possessionList %} {{ possessionList | safe }} {% endblock %}
{% block possessionInfo %} {{ possessionInfo | safe }} {% endblock %}